
@{
    GlassHourse.ViewModel.Row3uViewModel item =(GlassHourse.ViewModel.Row3uViewModel) Model;
}

<div class="3u" style="margin-bottom:30px">
    <section>
        <h2 class="title">@item.Title</h2>
        <p class="subtitle">@item.SubTitle</p>
        <p><a href="#"><img src="@Url.Content(item.picPath)" /></a></p>
        <p class="button-style1"><a href="#">Etiam rhoncus volutpat</a></p>
    </section>
</div>
